    .mainText {
    color :black;
    padding-top: 70px;
    padding-left: 30px;
    }
    .column {
        float: left;
    }
    .left {
        width: 4%;
        height: 100vh;
        background-color: #CC0633;
    }

    .middle {
        width: 92%;
        height: 100vh;
    }

    .right {
        width: 4%;
        height: 100vh;
        background-color: #CC0633;
    }

    .row:after {
        content: "";
        display: table;
        clear: both;
    }

    .th, td {
        border:1px solid #a5a0a0;
    }