
<html>
<head>
 <title>Best calculator</title>
 <link ref="stylesheets" type="text/css" href="/public/stylesheets/main.css">
</head>

<body>
   <div class="test">
      go to https://bestcalculatorr.herokuapp.com/calculator.html or http://localhost:5000/calculator.html to view best calculator
   </div>

</body>
</html>
